@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


body {
    background-color: white;
}

.menu_principal {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-around;



}

.menu_navegacao a {
    text-decoration: none;
    font-size: 20px;
    line-height: 20px;
    color: #1738a4;
}

.menu_navegacao a:hover {
    color: #86dae5;

}

.menu_navegacao {
    display: flex;
    gap: 2em;
}



.carousel {

    width: 90%;
    margin: 1em auto 6em;
    padding: 1em 0;

}

.d-block {
    height: 25em;
    border-radius: 15px;
}

.secao_index {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 4em;
    align-items: center;
    margin: 3em 10em;
    gap: 5em;


}

.img_secao {
    width: 25em;
    border-radius: 12px;

}

.paragrafo_section {
    color: #43919b;
    font-size: 18px;
}

.subtitulo_section {
    font-size: 40px;
    margin-bottom: 1em;
    color: #1738a4;
}

.botao {
    text-decoration: none;
    color: #1738a4;
    font-weight: 700;

}
.botao:hover{
    text-decoration: none;
}

.btn {
    text-decoration: none;
}

.secao_cor {
    background-color: #b7eef5;

}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.contato {
    display: flex;
    margin: 1em auto;
    gap: 1em;
    align-items: center;
    width: 70%;
    


}



.formulario {
    display: flex;
    flex-direction: column;
}

.contato_subtitulo {
    margin-bottom: 3em;
    width: 70%;
}

.contato_subtitulo h2 {
    font-size: 35px;
    color: #1738a4;
    font-weight: 700;
}

.contato_subtitulo p {
    color: #1738a4;
    font-weight: 400;
}
.contato_subtitulo_two{
    color: #1738a4;
    font-weight: 400;
    display: flex;
    width: 70%;
    gap: 1em;
}
.contato_subtitulo_two p{
    font-size: 15px;
}
.material-symbols-outlined{
    font-size: 45px;
}
.two{
    margin-top: 2em;
    text-align: center;
    align-items: center;
    
    
}
.two p{
    font-size: 20px;
    margin-bottom: 0;
}
.tree{
    margin-top: 2em;
    
}
.tree p{
    font-size: 18px;
    margin-top: 0.7em;
}





form input,
textarea {
    width: 100%;
    margin-bottom: 1em;
    padding: 1em;
    border: none;
    border-radius: 15px;

}

form input::placeholder {
    font-size: 16px;
    color: #4d5795;
    font-weight: 400;

}

form textarea::placeholder {
    font-size: 20px;
    color: #4d5795;
    font-weight: 400;
}

textarea {
    resize: none;
}

.contato_botao {
    padding: 0.5em 3em;
    border: none;
    border-radius: 5px;
    border: 1px solid #1738a4;
    align-items: baseline;
    font-weight: 700;
    cursor: pointer;
    margin: 0 auto;
    background-color: transparent;
    color: #1738a4;


}

.contato_botao:hover {
    background-color: #43919b;
    color: #86dae5;
}

.contato_form {
    background-color: #b7eef5;
    width: 40%;
    padding: 2em;
    border-radius: 14px;
}
.final_pagina{
    background-color: #86dae5;
    text-align: center;
    align-items: end;
    margin-top: 2em;
    color: #1738a4;
    font-weight: 700;
    
}